# Housing Market

### Introduction:

This time we will create our own dataset with fictional numbers to describe a house market. As we are going to create random data don't try to reason of the numbers.

### Step 1. Import the necessary libraries

In [1]:
import pandas as pd
import numpy as np

### Step 2. Create 3 differents Series, each of length 100, as follows: 
1. The first a random number from 1 to 4 
2. The second a random number from 1 to 3
3. The third a random number from 10,000 to 30,000

In [3]:
s1=pd.Series(np.random.randint(1, high=5, size=100, dtype='l')) #dtype='l' is for int64
s2=pd.Series(np.random.randint(1, high=4, size=100, dtype='l')) #dtype='l' is for int64
s3=pd.Series(np.random.randint(10000, high=30001, size=100, dtype='l')) #dtype='l' is for int64

print(s1, s2, s3)

0     2
1     4
2     3
3     4
4     3
     ..
95    3
96    3
97    4
98    4
99    3
Length: 100, dtype: int32 0     2
1     3
2     3
3     2
4     2
     ..
95    3
96    2
97    1
98    2
99    2
Length: 100, dtype: int32 0     29638
1     20978
2     28904
3     20581
4     11120
      ...
95    12257
96    19117
97    23124
98    29469
99    21853
Length: 100, dtype: int32

### Step 3. Let's create a DataFrame by joinning the Series by column

In [5]:
housemkt=pd.concat([s1, s2, s3], axis=1) #axis=1 for columns joining
housemkt

    0  1      2
0   2  2  29638
1   4  3  20978
2   3  3  28904
3   4  2  20581
4   3  2  11120
.. .. ..    ...
95  3  3  12257
96  3  2  19117
97  4  1  23124
98  4  2  29469
99  3  2  21853

[100 rows x 3 columns]

### Step 4. Change the name of the columns to bedrs, bathrs, price_sqr_meter

In [ ]:
housemkt.rename(columns={0:'bedrs', 1:'bathrs', 2:'price_sqr_meter'}, inplace=True)  
#El parámetro inplace=True en el método rename() de pandas se utiliza para modificar
# el DataFrame original en lugar de devolver una copia modificada

### Step 5. Create a one column DataFrame with the values of the 3 Series and assign it to 'bigcolumn'

In [10]:
bigcolumn=pd.concat([s1,s2,s3], axis=0) #axis=0 for rows joining

print(type(bigcolumn))

bigcolumn=bigcolumn.to_frame()
print(type(bigcolumn))
bigcolumn

<class 'pandas.core.series.Series'>
<class 'pandas.core.frame.DataFrame'>

        0
0       2
1       4
2       3
3       4
4       3
..    ...
95  12257
96  19117
97  23124
98  29469
99  21853

[300 rows x 1 columns]

### Step 6. Oops, it seems it is going only until index 99. Is it true?

In [13]:
bigcolumn.shape[0]

#No, el índice llega hasta 100 tres veces, pero el tamaño del DataFrame es 300

300

### Step 7. Reindex the DataFrame so it goes from 0 to 299

In [15]:
bigcolumn.reset_index(drop=True, inplace=True)
bigcolumn

         0
0        2
1        4
2        3
3        4
4        3
..     ...
295  12257
296  19117
297  23124
298  29469
299  21853

[300 rows x 1 columns]