# Ex2 - Getting and Knowing your Data

This time we are going to pull data directly from the internet.
Special thanks to: https://github.com/justmarkham for sharing the dataset and materials.

### Step 1. Import the necessary libraries

In [2]:
import pandas as pd
import numpy as np

### Step 2. Import the dataset from this [address](https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv).

### Step 3. Assign it to a variable called chipo.

In [3]:
url = 'https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv'
chipo = pd.read_csv(url, sep = '\t') #\t pq el csv esta separado por tabulador

### Step 4. See the first 10 entries

In [4]:
chipo.head(10) #muestra los primeros 10 datos

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,$2.39
1,1,1,Izze,[Clementine],$3.39
2,1,1,Nantucket Nectar,[Apple],$3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,$2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98
5,3,1,Chicken Bowl,"[Fresh Tomato Salsa (Mild), [Rice, Cheese, Sou...",$10.98
6,3,1,Side of Chips,NaN,$1.69
7,4,1,Steak Burrito,"[Tomatillo Red Chili Salsa, [Fajita Vegetables...",$11.75
8,4,1,Steak Soft Tacos,"[Tomatillo Green Chili Salsa, [Pinto Beans, Ch...",$9.25
9,5,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Black Beans, Pinto...",$9.25

### Step 5. What is the number of observations in the dataset?

In [5]:
# Solution 1
# NÃºmero de filas
num_observations = chipo.shape[0]
print(f"Number of observations in the dataset: {num_observations}")

Number of observations in the dataset: 4622

In [6]:
# Solution 2
chipo.count() #cuenta los valores no nulos de cada columna
chipo.info() #informacion de la tabla

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4622 entries, 0 to 4621
Data columns (total 5 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   order_id            4622 non-null   int64
 1   quantity            4622 non-null   int64
 2   item_name           4622 non-null   object
 3   choice_description  3376 non-null   object
 4   item_price          4622 non-null   object
dtypes: int64(2), object(3)
memory usage: 180.7+ KB

### Step 6. What is the number of columns in the dataset?

In [7]:
num_columns = chipo.shape[1]
print(f"Number of columns in the dataset: {num_columns}")

Number of columns in the dataset: 5

### Step 7. Print the name of all the columns.

In [8]:
chipo.columns #muestra las columnas de la tabla

Index(['order_id', 'quantity', 'item_name', 'choice_description',
       'item_price'],
      dtype='object')

### Step 8. How is the dataset indexed?

In [9]:
chipo.index #muestra los indices de la tabla

RangeIndex(start=0, stop=4622, step=1)

### Step 9. Which was the most-ordered item?

In [10]:
# el alimento que ha sido pedido mÃ¡s veces
# Agrupar por el Ã­tem y sumar las cantidades
item_orders = chipo.groupby('item_name')['quantity'].sum() #recorre la columna item_name y suma la cantidad de cada item
# Encontrar el Ã­tem mÃ¡s ordenado
most_ordered_item = item_orders.idxmax() #devuelve el indice del valor maximo
most_ordered_quantity = item_orders.max() #devuelve el valor maximo

print(f"The most-ordered item is: {most_ordered_item} with {most_ordered_quantity} orders.")

The most-ordered item is: Chicken Bowl with 761 orders.

### Step 10. For the most-ordered item, how many items were ordered?

In [11]:
# CuÃ¡ntas veces se ha pedido el item mÃ¡s solicitado (hecho antes)
# Agrupar por el Ã­tem y sumar las cantidades
item_orders = chipo.groupby('item_name')['quantity'].sum() #recorre la columna item_name y suma la cantidad de cada item
# Encontrar el Ã­tem mÃ¡s ordenado
most_ordered_item = item_orders.idxmax() #devuelve el indice del valor maximo
most_ordered_quantity = item_orders.max() #devuelve el valor maximo

print(f"The most-ordered item is: {most_ordered_item} with {most_ordered_quantity} orders.")

The most-ordered item is: Chicken Bowl with 761 orders.

### Step 11. What was the most ordered item in the choice_description column?

In [15]:
# Agrupar por la descripciÃ³n de la elecciÃ³n y sumar las cantidades
choice_orders = chipo.groupby('choice_description')['quantity'].sum()

# Encontrar la descripciÃ³n mÃ¡s ordenada y la cantidad de veces que fue ordenada
most_ordered_choice = choice_orders.idxmax()
most_ordered_choice_quantity = choice_orders.max()

print(f"The most-ordered choice description is: {most_ordered_choice} with {most_ordered_choice_quantity} orders.")

#SoluciÃ³n dada

# En vez de sacar una variable lo ordena y muestra la primera fila
c = chipo.groupby('choice_description').sum() #agrupa por choice_description y suma las cantidades
c = c.sort_values(['quantity'], ascending=False) #ordena de mayor a menor
c.head(1) #muestra la primera fila
# Diet Coke 159

The most-ordered choice description is: [Diet Coke] with 159 orders.

,order_id,quantity,item_name,item_price
choice_description,,,,
[Diet Coke],123455,159,Canned SodaCanned SodaCanned Soda6 Pack Soft D...,$2.18 $1.09 $1.09 $6.49 $2.18 $1.25 $1.09 $6.4...

### Step 12. How many items were orderd in total?

In [19]:
total_items_orders = chipo.quantity.sum() #suma la cantidad de todos los items

print(f"Total number of items ordered: {total_items_orders}")

Total number of items ordered: 4972

### Step 13. Turn the item price into a float

#### Step 13.a. Check the item price type

In [26]:
item_price_type = chipo["item_price"].dtype #tipo de dato de la columna item_price
# chipo.item_price.dtype (mÃ¡s corto)
print(f"The data type of the 'item_price' column is: {item_price_type}")

The data type of the 'item_price' column is: object

#### Step 13.b. Create a lambda function and change the type of item price

In [50]:
#Crear una funciÃ³n lamba para eliminar el signo de dolar y convertir a float
convert_price = lambda x: float(x.replace('$', '')) if isinstance(x, str) else x
# Aplicar la funciÃ³n a la columna 'item_price'
chipo["item_price"] = chipo["item_price"].apply(convert_price)

# Verificar el cambio de tipo de datos
print(chipo['item_price'].head())  # Muestra las primeras filas para verificar
print(f"The data type of the 'item_price' column is now: {chipo['item_price'].dtype}")

0     2.39
1     3.39
2     3.39
3     2.39
4    16.98
Name: item_price, dtype: float64
The data type of the 'item_price' column is now: float64

#### Step 13.c. Check the item price type

In [53]:
item_price_type = chipo["item_price"].dtype #tipo de dato de la columna item_price
# chipo.item_price.dtype (mÃ¡s corto)
print(f"The data type of the 'item_price' column is: {item_price_type}")

The data type of the 'item_price' column is: float64

### Step 14. How much was the revenue for the period in the dataset?

In [56]:
#Ingreso total
#Calcular el ingreso por cada fila
chipo ["revenue"]=chipo["quantity"]*chipo["item_price"]

#Calcular el ingreso total

total_revenue = chipo["revenue"].sum()

print(f"Total revenue: ${total_revenue:.2f}")

Total revenue: $39237.02

### Step 15. How many orders were made in the period?

In [63]:
#NÃºmero de pedidos
#NÃºmero de pedidos Ãºnicos(hay id que se repiten pq piden varias cosas)

num_orders = chipo.order_id.nunique() 

print(f"Total number of orders made in the period: {num_orders}")

1834

### Step 16. What is the average revenue amount per order?

In [68]:
# Solution 1
#Ingresos totales/ NÂº de pedidos
average_revenue_per_order = total_revenue / num_orders

print(f"The average revenue amount per order is: ${average_revenue_per_order:.2f}")

The average revenue amount per order is: $21.39

In [77]:
# Solution 2
# Agrupar por el id del pedido y sumar los ingresos
order_revenue = chipo.groupby('order_id')['revenue'].sum() #revenue= item_price * quantity
# Calcular el promedio de ingresos por pedido
average_revenue_per_order = order_revenue.mean()
print(f"Average revenue amount per order: ${average_revenue_per_order:.2f}")

# Para verlo visualmente
print (order_revenue)
chipo.head() #muestra los primeros 10 datos

Average revenue amount per order: $21.39
order_id
1       11.56
2       33.96
3       12.67
4       21.00
5       13.70
        ...
1830    23.00
1831    12.90
1832    13.20
1833    23.50
1834    28.75
Name: revenue, Length: 1834, dtype: float64

,order_id,quantity,item_name,choice_description,item_price,revenue
0,1,1,Chips and Fresh Tomato Salsa,NaN,2.39,2.39
1,1,1,Izze,[Clementine],3.39,3.39
2,1,1,Nantucket Nectar,[Apple],3.39,3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,2.39,2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",16.98,33.96

### Step 17. How many different items are sold?

In [78]:
# Contar el nÃºmero de Ã­tems Ãºnicos vendidos
num_unique_items = chipo['item_name'].nunique()

print(f"Total number of different items sold: {num_unique_items}")

Total number of different items sold: 50